.product {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productImg {
  height: 180px;
  background-color: #f2f2f2;
}

.productImg img {
  width: 100%;
  height: 100%;
  display: block;
}

.product h2 {
  font-size: 15px;
  margin-top: 9px;
  margin-bottom: 12px;
  width: 100%;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.product h3 {
  font-size: 13px;
}
